<div class="firstRow">
    <div class="container1 one">
        <h1>
            МОИ РАБОТЫ
            <img class="homeImg" src="http://seabattle.96.lt/freeCodeCamp/ArtWebsite/art_work.png" alt="арт-работы" />
        </h1>
        <a ui-sref="works"><div class="btn">ПОДРОБНЕЕ</div></a>
    </div><!--end one-->
    <div class="container1 two">
        <h1>
            ПРЕЗЕНТАЦИИ
            <img class="homeImg" src="http://seabattle.96.lt/freeCodeCamp/ArtWebsite/present.png" alt="презентации" />
        </h1>
        <a ui-sref="presents"><div class="btn">ПОДРОБНЕЕ</div></a>
    </div><!--end two-->
    <div class="container1 free">
        <h1>
            БЛОГ
            <img class="homeImg" src="http://seabattle.96.lt/freeCodeCamp/ArtWebsite/bloging.png" />
        </h1>
        <a ui-sref="blog"><div class="btn">ПОДРОБНЕЕ</div></a>
    </div><!--end free-->

</div><!--end firstRow-->

<div class="secondRow">
    <div class="container2 four">
        <h1>Добро пожаловать на мой сайт</h1>
        <p>Привет всем! Здесь можно посмотреть и насладиться моими художественными работами, просмотреть презентации, сделанные в MS PowerPoint, на разнообразные темы.</p>
        <p>В разделах <q>МОИ РАБОТЫ</q> и <q>ПРЕЗЕНТАЦИИ</q>, В разделе <q>БЛОГ</q> можно почитать написанные мною статьи и оставленные комментарии.</p>
        <p class="tild">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
        <p>PS. Кстати, если зарегестрироваться, можно оставить свои комментарии.</p>
    </div><!--end four-->

    <div class="ff"></div>

    <div class="container2 five">
        <h1>Здесь можно найти кое-что интересное:</h1>
        <ol>
            <li><a href="#">Поиск по Wikipedia</a></li>
            <li><a href="#">Узнать прогноз погоды</a></li>
            <li><a href="#">Игра крестики-нолики</a></li>
            <li><a href="#">Проверь свою память</a></li>
            <li><a href="#">новые поступления ожидаются...</a></li>
        </ol>
    </div><!--end five-->
</div><!--end secondRow-->



